In [2]:
import numpy as np
import pandas as pd

C:\Users\s8luo\AppData\Local\Temp\ipykernel_19896\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Relevant Variables

<table>
    <thead>
        <tr>
            <th scope='col'>Original Variable</th>
            <th scope='col'>Renamed Variable</th>
            <th scope='col'>Description</th>
        <tr>
            <td>SWANID</td>
            <td>SWANID</td>
            <td>Respondent ID for the study</td>
        <tr>
            <td>AGE1</td>
            <td>age</td>
            <td>Age at current visit (Integer)</td>
        <tr>
            <td>RACE</td>
            <td>race</td>
            <td>Race/ethnicity</td>
        <tr>
            <td>STATUS1</td>
            <td>meno_status</td>
            <td>Menopausal Status</td>

In [48]:
#Dictionaries for translating variables
race_dict = {1:'Black/African American', 
             2:'Chinese/Chinese American', 
             3:'Japanese/Japnese America', 
             4:'Caucasian/White Non-Hispanic', 
             5:'Hispanic'
             }

meno_status_dict = {'1':'Post by Bilateral Salpingo Oophorectomy', 
                    '2':'Natural post',
                    '3':'Late perimenopause',
                    '4':'Early perimenopause',
                    '5':'Pre-menopausal',
                    '6':'Pregnant/breastfeeding',
                    '7':'Unknown due to hormone therapy use',
                    '8':'Unknown due to hysterectomy',
                    ' ':'NaN'
                    }

In [49]:
visit_01 = pd.read_csv (r'..\ICPSR\ICPSR_29221-V3 (Visit 01)\ICPSR_29221\DS0001\Visit_01.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_01 = visit_01.filter(['SWANID', 'AGE1', 'RACE', 'STATUS1'], axis=1)

#Rename Columns
visit_01 = visit_01.rename(columns={'AGE1':'age', 'RACE':'race', 'STATUS1':'meno_status'})

#Translate Race Values
visit_01['race'] = visit_01['race'].replace(race_dict)

#Translate Menopause Status Values
visit_01['meno_status'] = visit_01['meno_status'].replace(meno_status_dict)

visit_01

,SWANID,age,race,meno_status
0,10046,53,Chinese/Chinese American,Unknown due to hormone therapy use
1,10056,52,Caucasian/White Non-Hispanic,Early perimenopause
2,10092,46,Caucasian/White Non-Hispanic,Early perimenopause
3,10126,50,Black/African American,Early perimenopause
4,10153,52,Japanese/Japnese America,Early perimenopause
...,...,...,...,...
2876,99879,45,Black/African American,Early perimenopause
2877,99888,49,Japanese/Japnese America,Unknown due to hormone therapy use
2878,99898,46,Caucasian/White Non-Hispanic,Early perimenopause
2879,99962,48,Chinese/Chinese American,Early perimenopause
2880,99992,44,Hispanic,Early perimenopause

In [52]:
visit_01['meno_status'].hasnans

False