In [ ]:
import numpy as np
import pandas as pd

### Relevant Variables

Link to Study: <a href='https://www.icpsr.umich.edu/web/ICPSR/series/253/studies'>https://www.icpsr.umich.edu/web/ICPSR/series/253/studies</a>
<table>
    <thead>
        <tr>
            <th scope='col'>Original Variable</th>
            <th scope='col'>Renamed Variable</th>
            <th scope='col'>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>SWANID</td>
            <td>SWANID</td>
            <td>Respondent ID for the study</td>
        <tr>
            <td>AGE[n]</td>
            <td>age</td>
            <td>
                Age at current visit (Integer)<br><br>
                <i>
                    n denotes which dataset the variable belongs to,<br>
                    with 0 being the baseline and 1-10 being each visit
                </i>
            </td>
        <tr>
            <td>RACE</td>
            <td>race</td>
            <td>Race/ethnicity</td>
        <tr>
            <td>STATUS[n]</td>
            <td>meno_status</td>
            <td>
                Menopausal Status<br><br>
                <i>
                    n denotes which dataset the variable belongs to,<br>
                    with 0 being the baseline and 1-10 being each visit
                </i>
            </td>
    </tobdy>
</table>

In [ ]:
#Dictionaries for translating variables
race_dict = {'1':'Black/African American', 
             '2':'Chinese/Chinese American', 
             '3':'Japanese/Japnese American', 
             '4':'Caucasian/White Non-Hispanic', 
             '5':'Hispanic'
             }

meno_status_dict = {'1':'Post by Bilateral Salpingo Oophorectomy', 
                    '2':'Natural post',
                    '3':'Late perimenopause',
                    '4':'Early perimenopause',
                    '5':'Pre-menopausal',
                    '6':'Pregnant/breastfeeding',
                    '7':'Unknown due to hormone therapy use',
                    '8':'Unknown due to hysterectomy',
                    ' ':np.nan
                    }

In [ ]:

def basic_cleanup (df):

    '''Translate common data points present in all the studies, namely age, ethnicity, and menopausal status
    
    Parameters:
        df (pandas.DataFrame): Dataframe to be cleaned up, Before running this function, filter the dataframe to only 
        include your relevant columns, and rename the appropriate cloumns to 'age', 'race', and 'meno_status' respectively
    '''

    #Ensure data is correct type for translation
    df['age'] = df['age'].astype('str')
    df['race'] = df['race'].astype('str')
    df['meno_status'] = df['meno_status'].astype('str')
    
    #Fills empty cells in age with NaN
    df['age'] = df['age'].replace({' ':np.nan})

    #Translate race values
    df['race'] = df['race'].replace(race_dict)

    #Translate menopause status values
    df['meno_status'] = df['meno_status'].replace(meno_status_dict)

    return df

In [108]:
visit_00 = pd.read_csv(r'..\ICPSR\ICPSR_28762 (Baseline Visit 00)\DS0001\Visit_00.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_00 = visit_00.filter(['SWANID', 'AGE0', 'RACE', 'STATUS0'], axis=1)

visit_00 = visit_00.rename(columns={'AGE0':'age', 'RACE':'race', 'STATUS0':'meno_status'})

basic_cleanup(visit_00)

visit_00

C:\Users\ivanl\AppData\Local\Temp\ipykernel_8908\3648113512.py:1: DtypeWarning: Columns (3,44,62,68,86,137,140,144,148,157,158,165,169,171,175,177,181,183,260,261,262,264,266,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,342,343,344,345,347,348,349,350,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,400,402,404,406,407,408,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,539,540,556,558) have mixed types. Specify dtype option on import or set low_memory=False.
  visit_00 = pd.read_csv(r'..\ICPSR\ICPSR_28762 (Baseline Visit 00)\DS0001\Visit_00.tsv', sep='\t')

      SWANID age                          race          meno_status
0      10005  48                      Hispanic                  NaN
1      10046  52      Chinese/Chinese American  Early perimenopause
2      10056  51  Caucasian/White Non-Hispanic       Pre-menopausal
3      10092  45  Caucasian/White Non-Hispanic  Early perimenopause
4      10126  48        Black/African American  Early perimenopause
...      ...  ..                           ...                  ...
3297   99879  44        Black/African American  Early perimenopause
3298   99888  48     Japanese/Japnese American       Pre-menopausal
3299   99898  45  Caucasian/White Non-Hispanic  Early perimenopause
3300   99962  47      Chinese/Chinese American  Early perimenopause
3301   99992  43                      Hispanic       Pre-menopausal

[3302 rows x 4 columns]

In [ ]:
visit_01 = pd.read_csv(r'..\ICPSR\ICPSR_29221 (Visit 01)\DS0001\Visit_01.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_01 = visit_01.filter(['SWANID', 'AGE1', 'RACE', 'STATUS1'], axis=1)

visit_01 = visit_01.rename(columns={'AGE1':'age', 'RACE':'race', 'STATUS1':'meno_status'})

#Rename columns
basic_cleanup (visit_01)

#Drops every row where respondent doesn't list age or menopause status
visit_01 = visit_01.dropna(how='all', subset=['age', 'meno_status'])

visit_01

In [ ]:
visit_02 = pd.read_csv(r'..\ICPSR\ICPSR_29401 (Visit 02)\DS0001\Visit_02.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_02 = visit_02.filter(['SWANID', 'AGE2', 'RACE', 'STATUS2'], axis=1)

#Rename columns
visit_02 = visit_02.rename(columns={'AGE2':'age', 'RACE':'race', 'STATUS2':'meno_status'})

basic_cleanup(visit_02)

#Drops every row where respondent doesn't list age or menopause status
visit_02 = visit_02.dropna(how='all', subset=['age', 'meno_status'])

visit_02

In [ ]:
visit_03 = pd.read_csv(r'..\ICPSR\ICPSR_29701 (Visit 03)\DS0001\Visit_03.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_03 = visit_03.filter(['SWANID', 'AGE3', 'RACE', 'STATUS3'], axis=1)

#Rename columns
visit_03 = visit_03.rename(columns={'AGE3':'age', 'RACE':'race', 'STATUS3':'meno_status'})

basic_cleanup(visit_03)

#Drops every row where respondent doesn't list age or menopause status
visit_03 = visit_03.dropna(how='all', subset=['age', 'meno_status'])

visit_03

In [ ]:
visit_04 = pd.read_csv(r'..\ICPSR\ICPSR_30142 (Visit 04)\DS0001\Visit_04.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_04 = visit_04.filter(['SWANID', 'AGE4', 'RACE', 'STATUS4'], axis=1)

#Rename columns
visit_04 = visit_04.rename(columns={'AGE4':'age', 'RACE':'race', 'STATUS4':'meno_status'})

basic_cleanup(visit_04)

#Drops every row where respondent doesn't list age or menopause status
visit_04 = visit_04.dropna(how='all', subset=['age', 'meno_status'])

visit_04

In [ ]:
visit_05 = pd.read_csv(r'..\ICPSR\ICPSR_30501 (Visit 05)\DS0001\Visit_05.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_05 = visit_05.filter(['SWANID', 'AGE5', 'RACE', 'STATUS5'], axis=1)

#Rename columns
visit_05 = visit_05.rename(columns={'AGE5':'age', 'RACE':'race', 'STATUS5':'meno_status'})

basic_cleanup(visit_05)

#Drops every row where respondent doesn't list age or menopause status
visit_05 = visit_05.dropna(how='all', subset=['age', 'meno_status'])

visit_05

In [ ]:
visit_06 = pd.read_csv(r'..\ICPSR\ICPSR_31181 (Visit 06)\DS0001\Visit_06.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_06 = visit_06.filter(['SWANID', 'AGE6', 'RACE', 'STATUS6'], axis=1)

#Rename columns
visit_06 = visit_06.rename(columns={'AGE6':'age', 'RACE':'race', 'STATUS6':'meno_status'})

basic_cleanup(visit_06)

#Drops every row where respondent doesn't list age or menopause status
visit_06 = visit_06.dropna(how='all', subset=['age', 'meno_status'])

visit_06

In [ ]:
visit_07 = pd.read_csv(r'..\ICPSR\ICPSR_31901 (Visit 07)\DS0001\Visit_07.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_07 = visit_07.filter(['SWANID', 'AGE7', 'RACE', 'STATUS7'], axis=1)

#Rename columns
visit_07 = visit_07.rename(columns={'AGE7':'age', 'RACE':'race', 'STATUS7':'meno_status'})

basic_cleanup(visit_07)

#Drops every row where respondent doesn't list age or menopause status
visit_07 = visit_07.dropna(how='all', subset=['age', 'meno_status'])

visit_07

In [ ]:
visit_08 = pd.read_csv(r'..\ICPSR\ICPSR_32122 (Visit 08)\DS0001\Visit_08.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_08 = visit_08.filter(['SWANID', 'AGE8', 'RACE', 'STATUS8'], axis=1)

#Rename columns
visit_08 = visit_08.rename(columns={'AGE8':'age', 'RACE':'race', 'STATUS8':'meno_status'})

basic_cleanup(visit_08)

#Drops every row where respondent doesn't list age or menopause status
visit_08 = visit_08.dropna(how='all', subset=['age', 'meno_status'])

visit_08

In [ ]:
visit_09 = pd.read_csv(r'..\ICPSR\ICPSR_32721 (Visit 09)\DS0001\Visit_09.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_09 = visit_09.filter(['SWANID', 'AGE9', 'RACE', 'STATUS9'], axis=1)

#Rename columns
visit_09 = visit_09.rename(columns={'AGE9':'age', 'RACE':'race', 'STATUS9':'meno_status'})

basic_cleanup(visit_09)

#Drops every row where respondent doesn't list age or menopause status
visit_09 = visit_09.dropna(how='all', subset=['age', 'meno_status'])

visit_09

In [ ]:
visit_10 = pd.read_csv(r'..\ICPSR\ICPSR_32961 (Visit 10)\DS0001\Visit_10.tsv', sep='\t')

#Reduce dataframe to only the relevant columns
visit_10 = visit_10.filter(['SWANID', 'AGE10', 'RACE', 'STATUS10'], axis=1)

#Rename columns
visit_10 = visit_10.rename(columns={'AGE10':'age', 'RACE':'race', 'STATUS10':'meno_status'})

basic_cleanup(visit_10)

#Drops every row where respondent doesn't list age or menopause status
visit_10 = visit_10.dropna(how='all', subset=['age', 'meno_status'])

visit_10

In [109]:
df_list = [visit_01, visit_02, visit_03, visit_04, visit_05, visit_06, visit_07, visit_08, visit_09, visit_10]

counter = 0

merged = visit_00[['SWANID', 'race', 'age', 'meno_status']]

for df in df_list:

    merged = merged.join(df.set_index(['SWANID', 'race']), on=['SWANID', 'race'], how='outer', lsuffix=f'_{counter}', rsuffix=f'_{counter + 1}', validate='1:1')

    counter = counter + 1

merged = merged.rename(columns={'age':'age_10', 'meno_status':'menostatus_10'})

merged

,SWANID,race,age_0,meno_status_0,age_1,meno_status_1,age_2,meno_status_2,age_3,meno_status_3,...,age_6,meno_status_6,age_7,meno_status_7,age_8,meno_status_8,age_9,meno_status_9,age_10,menostatus_10
0,10005,Hispanic,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10046,Chinese/Chinese American,52,Early perimenopause,53,Unknown due to hormone therapy use,54,Unknown due to hormone therapy use,55,Unknown due to hormone therapy use,...,58,Unknown due to hormone therapy use,59,Unknown due to hormone therapy use,60,Unknown due to hormone therapy use,61,Unknown due to hormone therapy use,62,Unknown due to hormone therapy use
2,10056,Caucasian/White Non-Hispanic,51,Pre-menopausal,52,Early perimenopause,53,Early perimenopause,54,Natural post,...,57,Natural post,58,Natural post,59,Natural post,60,Natural post,61,Natural post
3,10092,Caucasian/White Non-Hispanic,45,Early perimenopause,46,Early perimenopause,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10126,Black/African American,48,Early perimenopause,50,Early perimenopause,50,Early perimenopause,51,Early perimenopause,...,54,Natural post,NaN,NaN,57,Natural post,58,Natural post,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3297,99879,Black/African American,44,Early perimenopause,45,Early perimenopause,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3298,99888,Japanese/Japnese American,48,Pre-menopausal,49,Unknown due to hormone therapy use,50,Early perimenopause,52,Early perimenopause,...,54,Natural post,56,Natural post,57,Natural post,58,Natural post,58,Natural post
3299,99898,Caucasian/White Non-Hispanic,45,Early perimenopause,46,Early perimenopause,47,Early perimenopause,48,Early perimenopause,...,51,Early perimenopause,52,Early perimenopause,53,Post by Bilateral Salpingo Oophorectomy,54,Post by Bilateral Salpingo Oophorectomy,55,Post by Bilateral Salpingo Oophorectomy
3300,99962,Chinese/Chinese American,47,Early perimenopause,48,Early perimenopause,49,Early perimenopause,50,Early perimenopause,...,53,Natural post,54,Natural post,55,Natural post,56,Natural post,57,Natural post
3301,99992,Hispanic,43,Pre-menopausal,44,Early perimenopause,45,Early perimenopause,46,Early perimenopause,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
merged.to_csv(r'..\ICPSR\SWAN_DATA.csv', index=False)